[Unit]
Description = Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=jamarcus
WorkingDirectory=/home/jamarcus/sites/DOMAIN
EnvironmentFile=/home/jamarcus/sites/DOMAIN/.env
ExecStart=/home/jamarcus/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
